# RL Tutor Project - .gitignore

# Dependencies
.venv/
env/
venv/
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Data & Models
d3rlpy_logs/
*.pkl
*.txt
!ReadMe_divyansh_kumar.txt
!Execution-Step_divyansh_kumar.txt
!Dataset_divyansh_kumar.txt
!training_terminal_logs.txt
!temp_all_code.txt

# Hidden Files
.DS_Store
Thumbs.db
.gemini/

# Environment Variables
.env
